@import "main.css";

.main_title {
    font-size: 90px;
    /* color: #ffcc00;  */
    color: orangered;
    font-weight: 750;
    width: 80%;
}
.title_container {
    padding-top:15%;
    padding-left: 5%;
}

.title_background_pic {
    text-align: left; 
    height: 100vh;
    width: 100%;
    background-image: url(../photos/front-cover/Lamborghini-svj-rear.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 420px !important;
}

.front_btn_holder {
    color: black;
    padding-top: 10%;
    font-size: 20px;
}

.purchase_smartly_title {
    color: #c44dff;
    text-align: center;
    margin-top: 10%;
    font-weight: 850;
    font-size: 60px;
}

.purchase_smartly_first_content {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 40px;
}
.purchase_smartly_second_content {
    margin-top: 30px;
    font-size: 20px; 
    text-align: center; 
    color: grey; 
    margin-left: 20%; 
    margin-right: 20%;
}
.front_data_image {
    float: left;
}

.front_data_content_container {
    float: left;
    width: 30%;
}

.front_data_title {
    font-weight: 850;
    margin-top: 30%;
    color: #c44dff;
    font-size: 60px;
}

.front_data_content {
    color: grey;
    font-size: 20px;
    margin-top: 20px;
}

.front_dashboard_container {
    display: inline-block;
    margin-top: 10%;
}

.front_dashboard_img {
    float: left;
    width: 60%;
    height: 70%;
}

.front_dashboard_title {
    float: left;
    font-weight: 850;
    color: #c44dff;
}

.front_dashboard_content {
    color: grey;
}

.front_dashboard_btn {
    float: left;
}

.visit_tutorial_background {
    display: inline-block;
    padding-top: 10%;
    background-image: url(../photos/front-cover/tutorial.jpeg); 
    width: 100%;
    padding-bottom: 40px;
    background-size: cover;
}

.visit_tutorial_background_title {
    padding-left: 5%;
    font-weight: 850;
    margin-top: 30px;
    font-size: 60px;
}

.visit_tutorial_background_content {
    margin-top: 3%;
    margin-left: 5%;
    width: 50%;
    font-size: 20px;
}