body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.sidenav {
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    position: fixed;
    padding-top: 80px;
    z-index: 1;
    border-right: 1px solid black;
}
.sidenav a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    transition: all 2s ease-in;
}

.sidenav a:hover {
    text-decoration: underline;
}

th {
    background: white;
    position: sticky;
    top: 0;
    color: black;
    border-bottom: 5px solid black;
}

.front_btn {
    border: 3px solid #33334d;
    background-color: #33334d;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.front_btn:hover {
    color: white;
    background-color: orangered;
    border: 3px solid orangered;
}

.learn_more {
    border: 3px solid #c44dff; 
    color: white; 
    padding: 5px;
    padding-left: 15px; 
    padding-right: 15px;
    text-align: center; 
    border-radius: 25px; 
    text-decoration: none;
    background-color: #c44dff;
    font-weight: 850;
}

.learn_more:hover{
    background-color: #8011b8;
    border: 3px solid #8011b8;
    color: white;
}

.tutorial_btn {
    border: 3px solid black; 
    color: white; 
    padding: 5px;
    padding-left: 30px; 
    padding-right: 30px;
    text-align: center; 
    border-radius: 25px; 
    text-decoration: none;
    background-color: black;
}

.tutorial_btn:hover {
    color: black;
    background-color: #ff9900;
    border: 3px solid #ff9900; 
}

.dashboard {
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}

.dash_graph {
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 70%;
    height: 650px; 
    padding-top: 10px;
    color: black;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 10px 10px #888888;
}

.trim_total_info {
    float: left;
    width: 29%;
    height: 270px;
    /* background-color:#33334d; */
    /* background-color: #2d2d69; */
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 5px 10px 10px #888888;
}

.mile_display {
    float: left;
    width: 29%;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 15px;
    overflow-y: auto;
    /* background-color: #33334d; */
    border-radius: 7px;
    /* box-shadow: 5px 10px 10px #888888; */
}

.coming_up {
    float: left;
    width: 29%;
    height: 151.50px;
    padding: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: black;
    font-size: 30px;
    border-radius: 7px;
}

.long_ad_container {
    height: 150px;
    width: 100%;
    margin-top: 15px;
    padding-left: 400px;
    display: inline-block;
    color: black;
    padding: 100px;
    font-size: 30px;
    border-radius: 7px;
}

.raw_data_table_container {
    width: 100%;
    display: inline-block;
    background-color: white;
    /* overflow-y: auto; */
    box-shadow: 5px 10px 10px #888888;
    border-radius: 7px;
}

.maintenance_graph_container {
    margin-top: 15px;
    height: 300px;
    width: 100%;
    display: inline-block;
    background-color: white;
}

.dash_title {
    font-size: 30px;
    text-align: center;
    font-weight: 850;
}

.trim_dash_title {
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: 850;
}

.search_btn {
    border: 3px solid black;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px;
    width: 20%;
}
.faded_background {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faded_background::before {
    background-image: url(../photos/front-cover/tall_building_2.jpeg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: 0;
}

.profile_pic {
    width: 100%;
    height: 40%;
    border-radius: 200px;
}

.profile_col {
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}