.wordCarousel {
    padding-top: 5%;
    padding-left: 10%;
    font-weight: 850;
    font-size: calc(15px + 1.5vw);
    color: black;
    float: left;
}
.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 100px;
    padding-top: 10px;
    margin-top: -10px;
}
.wordCarousel li {
    color: grey;
    font-weight: 700;
    height: 50px;
    margin-bottom: 40px; 
    display: block;
    color: blueviolet;
}
.wordCarousel_desc {
    color: black; 
    float: left; 
    padding-left: 10%; 
    padding-right: 10%; 
    font-size: calc(7px + 0.7vw);
}

#navigation_bar {
    background-size: 200%;
    background-position: right;
}

#box {
    box-shadow: 20px 20px rgba(0,0,0,.15);
}
#update_box {
    padding: 1rem;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}
#sticky_note {
    display:inline-block;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
    border:solid 5px hsla(0, 95%, 35%, 1);
}

.update_box {
    background-color: white;
    border-radius: 10px;
}

.update_box p {
    font-size: 12px;
}

.flip2 { animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@media only screen and (max-width: 425px){
    .wordCarousel div{
        float: left;
    }
}

@media only screen and (min-width: 2560px){
    .wordCarousel{
        font-size: 1.5vw;
    }
    .wordCarousel_desc {
        font-size: 0.5vw;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}