.wordCarousel {
    padding-top: 18%;
    padding-left: 10%;
    font-size: 60px;
    font-weight: 850;
    color: black;
    float: left;
}
.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 100px;
    padding-top: 10px;
    margin-top: -10px;
}
.wordCarousel li {
    color: grey;
    font-weight: 700;
    height: 50px;
    margin-bottom: 40px; 
    display: block;
    color: white;
}

#navigation_bar {
    background-size: 200%;
    background-position: right;
}

.flip2 { animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

#slide_1 {
    padding-right: 5%;
    width: 100%;
    height: 100%;
    background-image: url("../photos/front-cover/porsche_911.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#slide_1 .title {
    margin-top: 15%;
    float: left;
    text-align: left;
    font-size: 50px;
    width: 100%;
    font-weight: 850;
    line-height: 120%;
    margin-left: 5%;
    padding-right: 55%;
    color: grey;
}

#slide_1 a {
    color: black;
    font-size: 15px;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 25px;
    font-weight: 850;
    text-decoration: none;
    border: 3px solid grey;
    color: grey;
}

#slide_1 a:hover {
    text-decoration: none;
    background-color: grey;
    color: black;
}

#slide_2 {
    background-color: #666699;
    width: 100%;
    height: 102%;
    display: block;
}

#slide_3 {
    margin-top: 17.8%;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #ffe6e6;
}

#slide_3 .title {
    float: right;
    margin-right: 3%;
    text-align: right;
    font-weight: 850;
    font-size: 70px;
    margin-top: 15%;
    width: 40%;
}

#slide_3 img {
    float: left;
    width: 50%;
    height: 65%;
    margin-top: 10%;   
}

#slide_3 p {
    float: right;
    text-align: right;
    width: 40%;
    margin-top: 3%;
    margin-right: 3%;
}

#slide_3 a {
    color: black;
    font-size: 15px;
    float: right;
    text-align: center;
    margin-right: 5%;
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    font-weight: 850;
    text-decoration: none;
    border: 3px solid black;
    color: black;
}
#slide_3 a:hover {
    color: white;
    text-decoration: none;
    background-color: grey;
    border-color: grey;
}

#slide_4 {
    background-color: #ecd9c6;
    width: 100%;
    height: 100%;
}

#slide_4  .title {
    font-size: 70px;
    width: 40%;
    font-weight: 850;
    margin-left: 5%;
    padding-top: 15%;
    line-height: 120%;
}

#slide_4 p {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
}

#slide_4 a {
    color: black;
    font-size: 15px;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-top: 8%;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    font-weight: 850;
    text-decoration: none;
    border: 3px solid black;
    color: black;
}

#slide_4 a:hover {
    color: white;
    background-color: black;
}

.bubble {
    background-color: white;
    color: black;
    border-radius: 250px;
    padding: 5px 5px 5px 5px;
    width: 30%;
    height: 20%;
    left: 60%;
    top: 325%;
    position: absolute;
}

.bubble img{
    float: left;
    width: auto;
    height: 100%;
    border-radius: 200px;
}

.bubble p{
    float: right;
    font-size: 12px;
    text-align: left;
    margin-right: 5%;
    font-weight: 850;
}

.bubble i {
    font-size: 12px;
    float: right;
    text-align: center;
    width: 50%;
    margin-right: 5%;
}

.bubble_2 {
    background-color: white;
    color: black;
    border-radius: 250px;
    padding: 5px 5px 5px 5px;
    width: 30%;
    height: 20%;
    left: 65%;
    top: 350%;
    position: absolute;
}

.bubble_2 p{
    float: left;
    font-size: 12px;
    text-align: right;
    margin-left: 5%;
    font-weight: 850;
}

.bubble_2 i {
    font-size: 10px;
    float: left;
    text-align: center;
    width: 52%;
    margin-left: 8%;
}

.bubble_2 img{
    float: right;
    width: auto;
    height: 100%;
    border-radius: 200px;
    margin-top: -11%;
}

.check_dashboard_btn {
    color: white; 
    text-align: center; 
    text-decoration: none;
    font-weight: 850;
    border-radius: 25px; 
    border: 3px solid white;
    padding: 8px 8px 8px 8px;
    float: left;
    margin-top: 2%;
}

.check_dashboard_btn:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.left_dash {
    float: left;
    margin-right: 3%;
    word-spacing: 0.4em;
    margin-top: 3%;
}

.right_dash {
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    word-spacing: 0.4em;
}

.dashboard_content {
    color: white;
    float: left;
    padding-left: 10%;
    width: 60%;
}