@media only screen and (min-width: 320px) {
    .tutorial_body_container{
        padding-left: 2%;
    }
    .sidenav {
        width: 0%;
    }
    #menu {
        display: none;
    }
}

@media only screen and (min-width: 1440px){
    #menu {
        display: block;
    }
}