body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.sidenav {
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    position: fixed;
    padding-top: 80px;
    z-index: 1;
    border-right: 1px solid black;
}
.sidenav a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    transition: all 2s ease-in;
}

.sidenav a:hover {
    text-decoration: underline;
}

.front_btn {
    border: 3px solid black;
    background-color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.front_btn:hover {
    color: white;
    background-color: orangered;
    border: 3px solid orangered;
}

.learn_more {
    border: 3px solid #c44dff; 
    color: white; 
    padding: 5px;
    padding-left: 15px; 
    padding-right: 15px;
    text-align: center; 
    border-radius: 25px; 
    text-decoration: none;
    background-color: #c44dff;
    font-weight: 850;
}

.learn_more:hover{
    background-color: #8011b8;
    border: 3px solid #8011b8;
    color: white;
}

.tutorial_btn {
    border: 3px solid black; 
    color: white; 
    padding: 5px;
    padding-left: 30px; 
    padding-right: 30px;
    text-align: center; 
    border-radius: 25px; 
    text-decoration: none;
    background-color: black;
}

.tutorial_btn:hover {
    color: black;
    background-color: #ff9900;
    border: 3px solid #ff9900; 
}

.dashboard {
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}

.dash_piece {
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 48%;
    height: 50%; 
    padding-top: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    
}

.brand_dash {
    float: left;
    width: 500px;
    height: 20%;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.info_dash {
    float: left;
    width: 800px;
    height: 20%;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.dash_title {
    font-size: 20px;
    text-align: center;
}

.search_btn {
    border: 3px solid black;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px;
    width: 20%;
}