body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.sidenav {
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    position: fixed;
    padding-top: 80px;
    z-index: 1;
    background-color: rgb(201, 173, 148);
}
.sidenav a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
}