body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
h2{
    text-align: center;
}
.dot:hover {
    fill: greenyellow;
}
.menu{
    width: 10%;
    height: 100%;
    position: absolute;
    float: left;
}
.graph{
    width: 90%;
    float: right;
}
.header_menu{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 71, 71);
    display: block;
    position: fixed;
    z-index: 1000;
}
.header_menu li{
    list-style-type: none;
    
}
li{
    float: left;
    margin-right: 50px;
}
li a{
    display: block;
    padding: 4px;
    margin-left: 10px;
    color: whitesmoke;
}
.AIFA_sign{
    background-color: rgb(255, 71, 71);
    margin-right: 30px;
    text-decoration: 0;
}
.front_image{
    width: 100%;
    position: relative;
    top: 50px;
    z-index: 2;
}
.front_image img{
    width: 100%;
    height: 50%;
}
.content{
    margin-left: 8%;
    margin-right: 8%;
}
.content h1{
    text-align: center;
}
.content p{
    text-align: center;
}