.left-menu {
    width: 15vw;
    height: 100vh;
    background-color: #6666ff;
    margin: auto 0;
    padding-top: 30px;
    color: white;
    float: left;
    font-family: 'PT Sans', sans-serif;
    position: fixed;
}
.left-menu .title {
    font-size: 1.5vw;
    font-weight: 900;
    text-align: center;
    font-weight: 900;
    padding-bottom: 15vh;
    padding-left: 10px;
    padding-right: 10px;
}
.left-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.left-menu .item {
    font-weight: 900;
    font-size: 1vw;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40%;
    transition: 0.2s;
    border-radius: 0px;
    background-image: linear-gradient(to left, #9999ff, #3333ff);
    transition: 0.2s;
}

.left-menu .item:hover {
    background-image: linear-gradient(to right, #9999ff, #3333ff);
    padding-left: 50%;
    transition: 0.2s;
}

.left-menu .item:focus{
    border-radius: 10px;
    background-image: linear-gradient(to right, #9999ff, #3333ff);
    margin-left: 2%;
    margin-right: 2%;
}

.content {
    margin-left: 15vw;
}

.top-menu {
    height: 10%;
    width: 100%;
    float: left;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
}
.top-menu select {
    width: 8vw;
    display: inline-block;
    font-size: 1.2vw;
}
.top-menu label {
    padding-left: 5%;
    padding-right: 1%;
}
.search_button {
    float: right;
    border: 3px solid #6666ff;
    background-color: #6666ff;
    border-radius: 15px;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    margin-right: 20px;
}

@media screen and (min-width: 1440px){
    .left-menu {
        font-size: 30px;
    }
    .top-menu select {
        font-size: 13px;
    }
    .top-menu {
        font-size: 13px;
    }
    .search_button {
        font-size: 13px;
    }
    .left-menu .title {
        font-size: 30px;
    }
    .left-menu .item {
        font-size: 15px;
    }
    #trim_list {
        font-size: 15px;
    }
    #select_trim {
        width: 40%;
    }
}

@media screen and (min-width: 2560px){
    .top-menu select {
        font-size: 20px;
    }
    .top-menu {
        font-size: 20px;
    }
    .search_button {
        font-size: 20px;
    }
}